DB_PASSWORD=changeme
DOMAIN=localhost
SECRET_KEY=change-this-to-a-random-secret-key
DEBUG=true
FRONTEND_URL=http://localhost:3000
S3_ACCESS_KEY_ID=nekonoverse
S3_SECRET_ACCESS_KEY=changeme-s3
S3_BUCKET=nekonoverse
